{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <h3 class="center">Board</h3>
                <table class="table">
                    <tbody>
                    <tr class="table-secondary">
                        <td></td>
                        <td>A</td>
                        <td>B</td>
                        <td>C</td>
                        <td>D</td>
                        <td>E</td>
                        <td>F</td>
                        <td>G</td>
                        <td>H</td>
                        <td></td>
                    </tr>

                    {% for line in state.arr_board | reverse %}
                    <tr>
                        {% set row = loop.revindex %}
                        <td class="table-secondary">{{ loop.revindex }}</td>
                        {% for piece in line %}
                            {% set col = loop.revindex %}
                            {% if (row + col) % 2 != 0 %}
                                <td class="table-primary">
                            {% else %}
                                <td>
                            {% endif %}
                                {% if piece %}
                                    <div class="content">
                                    {% if piece >= 'a' and piece <= 'z' %}
                                        <img src="{{ url_for('static', filename='img/Chess_' + piece | lower + 'dt45.svg.png') }}" alt="{{ piece }}">
                                    {% endif %}
                                    {% if piece >= 'A' and piece <= 'Z' %}
                                        <img src="{{ url_for('static', filename='img/Chess_' + piece | lower + 'lt45.svg.png') }}" alt="{{ piece }}">
                                    {% endif %}
                                    </div>
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td class="table-secondary">{{ loop.revindex }}</td>
                    </tr>
                    {% endfor %}

                    <tr class="table-secondary">
                        <td></td>
                        <td>A</td>
                        <td>B</td>
                        <td>C</td>
                        <td>D</td>
                        <td>E</td>
                        <td>F</td>
                        <td>G</td>
                        <td>H</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <br>
                {% if state.checkmate %}
                <h3 class="center">Checkmate by {{ state.checkmate }}</h3>
                {% else %}
                <h3 class="center">Moves</h3>
                <form action="/async/play" method="get">
                    <input type="hidden" name="fen" value="{{ state.fen }}">
                    {% for move in state.moves %}
                        <button type="submit" name="move" value="{{ move[0] }}" class="btn btn-primary">{{ move[1] }}</button>
                    {% endfor %}

                </form>

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}